# 2. Analysis

In [4]:
import pandas as pd
import numpy as np
##visuals
import matplotlib.pyplot as plt
import seaborn as sns

## other
import warnings
warnings.filterwarnings('ignore')
pd.set_option('display.max_columns',None)
pd.set_option('display.max_rows',None)

### Importing the data

In [5]:
df1 = pd.read_csv('clean_train.csv')
df2 = pd.read_csv('clean_test.csv')

### Let's understand our train data

In [6]:
df1.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True

In [7]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   8693 non-null   object
 1   HomePlanet    8693 non-null   object
 2   CryoSleep     8693 non-null   bool
 3   Cabin         8693 non-null   object
 4   Destination   8693 non-null   object
 5   Age           8693 non-null   float64
 6   VIP           8693 non-null   bool
 7   RoomService   8693 non-null   float64
 8   FoodCourt     8693 non-null   float64
 9   ShoppingMall  8693 non-null   float64
 10  Spa           8693 non-null   float64
 11  VRDeck        8693 non-null   float64
 12  Name          8493 non-null   object
 13  Transported   8693 non-null   bool
dtypes: bool(3), float64(6), object(5)
memory usage: 772.6+ KB

In [8]:
df1.describe().transpose()

               count        mean          std  min   25%   50%   75%      max
Age           8693.0   28.790291    14.341404  0.0  20.0  27.0  37.0     79.0
RoomService   8693.0  220.009318   660.519050  0.0   0.0   0.0  41.0  14327.0
FoodCourt     8693.0  448.434027  1595.790627  0.0   0.0   0.0  61.0  29813.0
ShoppingMall  8693.0  169.572300   598.007164  0.0   0.0   0.0  22.0  23492.0
Spa           8693.0  304.588865  1125.562559  0.0   0.0   0.0  53.0  22408.0
VRDeck        8693.0  298.261820  1134.126417  0.0   0.0   0.0  40.0  24133.0

In [9]:
df1.isnull().sum()

PassengerId       0
HomePlanet        0
CryoSleep         0
Cabin             0
Destination       0
Age               0
VIP               0
RoomService       0
FoodCourt         0
ShoppingMall      0
Spa               0
VRDeck            0
Name            200
Transported       0
dtype: int64

### Lets now see how the test data is

In [10]:
df2.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name
0,0013_01,Earth,True,G/3/S,TRAPPIST-1e,27.0,False,0.0,0.0,0.0,0.0,0.0,Nelly Carsoning
1,0018_01,Earth,False,F/4/S,TRAPPIST-1e,19.0,False,0.0,9.0,0.0,2823.0,0.0,Lerome Peckers
2,0019_01,Europa,True,C/0/S,55 Cancri e,31.0,False,0.0,0.0,0.0,0.0,0.0,Sabih Unhearfus
3,0021_01,Europa,False,C/1/S,TRAPPIST-1e,38.0,False,0.0,6652.0,0.0,181.0,585.0,Meratz Caltilter
4,0023_01,Earth,False,F/5/S,TRAPPIST-1e,20.0,False,10.0,0.0,635.0,0.0,0.0,Brence Harperez

In [11]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4277 entries, 0 to 4276
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   4277 non-null   object
 1   HomePlanet    4277 non-null   object
 2   CryoSleep     4277 non-null   bool
 3   Cabin         4277 non-null   object
 4   Destination   4277 non-null   object
 5   Age           4277 non-null   float64
 6   VIP           4277 non-null   bool
 7   RoomService   4277 non-null   float64
 8   FoodCourt     4277 non-null   float64
 9   ShoppingMall  4277 non-null   float64
 10  Spa           4277 non-null   float64
 11  VRDeck        4277 non-null   float64
 12  Name          4183 non-null   object
dtypes: bool(2), float64(6), object(5)
memory usage: 376.0+ KB

In [12]:
df2.describe().transpose()

               count        mean          std  min   25%   50%   75%      max
Age           4277.0   28.622866    14.029425  0.0  20.0  27.0  37.0     79.0
RoomService   4277.0  215.062427   601.914503  0.0   0.0   0.0  48.0  11567.0
FoodCourt     4277.0  428.592238  1510.155974  0.0   0.0   0.0  66.0  25273.0
ShoppingMall  4277.0  173.233107   554.991776  0.0   0.0   0.0  27.0   8292.0
Spa           4277.0  295.895955  1104.872018  0.0   0.0   0.0  43.0  19844.0
VRDeck        4277.0  304.898293  1235.991811  0.0   0.0   0.0  31.0  22272.0

In [13]:
df2.isnull().sum()

PassengerId      0
HomePlanet       0
CryoSleep        0
Cabin            0
Destination      0
Age              0
VIP              0
RoomService      0
FoodCourt        0
ShoppingMall     0
Spa              0
VRDeck           0
Name            94
dtype: int64

### So, We have our data clean! (Except for the "Name" feature, which we will deal later!)

### Analysis

In [28]:
# df1.head()

In [37]:
imp_feats = []

### Lets see if the HomePlanet played a role on getting transported

In [17]:
planet_trans = pd.DataFrame(df1.HomePlanet.groupby(df1.Transported).value_counts())
planet_trans['percentage'] = round(pd.DataFrame(df1.HomePlanet.groupby(df1.Transported).value_counts(normalize=True))*100,2)

In [20]:
op = pd.DataFrame(df1.Transported.groupby(df1.HomePlanet).value_counts())
op['percentage'] = round(pd.DataFrame(df1.Transported.groupby(df1.HomePlanet).value_counts(normalize=True))*100,2)

In [24]:
op.rename(columns={'Transported':'count'})

                        count  percentage
HomePlanet Transported
Earth      False         2749       57.24
           True          2054       42.76
Europa     True          1404       65.88
           False          727       34.12
Mars       True           920       52.30
           False          839       47.70

In [26]:
# planet_trans

### Inference :
1. we can see that 65% of the passengers from Europa, 57% from earth and 52% from mars have been transported.
2. We can assume that the probability of getting transported is higher if the passenger is from Europa.

In [39]:
imp_feats.append('Home_plannet')

### Lets see if Cryo played a role

In [31]:
cry_trans = pd.DataFrame(df1.Transported.groupby(df1.CryoSleep).value_counts())
cry_trans['percentage'] = round(pd.DataFrame(df1.Transported.groupby(df1.CryoSleep).value_counts(normalize=True))*100,2)

In [33]:
op = pd.DataFrame(df1.CryoSleep.groupby(df1.Transported).value_counts())
op['percentage'] = round(pd.DataFrame(df1.CryoSleep.groupby(df1.Transported).value_counts(normalize=True))*100,2)

In [36]:
op

                       CryoSleep  percentage
Transported CryoSleep
False       False           3761       87.16
            True             554       12.84
True        True            2483       56.72
            False           1895       43.28

In [32]:
cry_trans

                       Transported  percentage
CryoSleep Transported
False     False               3761       66.50
          True                1895       33.50
True      True                2483       81.76
          False                554       18.24

### Inference:
    1. We can see that 81% of people who went into cryo are Transported. 
    2. We can also infer that only 33% of people who did not go into Cryo got transported. 
    3. We can also see that, out of all the people who did not get transported, 87% of them did not go into cryo!  
#### *This basically means, A passenger's probability of getting transported is significantly higher when he goes into cryosleep!*

In [40]:
imp_feats.append('cryo')

### Let's see if the Cabin played a role in the passengers getting transported! 
Based on the position of cabins, we can infer some results!

### we are splitting the cabin into 2, cabin deck and cabin side

In [29]:
# df1.Cabin.value_counts()

In [27]:
cc = []
for i in df1.Cabin:
    cc.append(i.split('/')[0])
df1['Cabin_Catg'] = cc

In [31]:
col = df1.pop('Cabin_Catg')
df1.insert(4,'Cabin_Catg',col)

In [35]:
cc_trans = pd.DataFrame(df1.Transported.groupby(df1.Cabin_Catg).value_counts(normalize=False))
cc_trans['percentage'] = round(pd.DataFrame(df1.Transported.groupby(df1.Cabin_Catg).value_counts(normalize=True))*100,2)

In [36]:
cc_trans

                        Transported  percentage
Cabin_Catg Transported
A          False                129       50.39
           True                 127       49.61
B          True                 572       73.43
           False                207       26.57
C          True                 508       68.01
           False                239       31.99
D          False                271       56.69
           True                 207       43.31
E          False                563       64.27
           True                 313       35.73
F          False               1565       56.01
           True                1229       43.99
G          True                1421       51.52
           False               1337       48.48
T          False                  4       80.00
           True                   1       20.00

### Inferences : 
1. 73% of passengers who were in CabinCatg B have been Transported.
2. 68% of passengers in Cabin Catg. C have been transported
3. 64% of passengers in CabinCatg E have been transported.
4. importantly, 80% of people in Cabin Catg. T have not been Transported. 


*To sum things up, passengers from B,C and E have a higher probability of being transported while passenger from T have a very low probability of getting transported.*

In [37]:
imp_feats.append('Cabin_catg')

### Lets see if the side of the cabin makes a difference

In [40]:
side = []
for i in df1.Cabin:
    side.append(i.split('/')[2])
df1['Cabin_Side'] = side

In [43]:
col = df1.pop('Cabin_Side')
df1.insert(5,'Cabin_Side',col)

In [45]:
cs_trans = pd.DataFrame(df1.Transported.groupby(df1.Cabin_Side).value_counts())

Cabin_Side  Transported
P           False          2407
            True           1998
S           True           2380
            False          1908
Name: Transported, dtype: int64

In [44]:
df1.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Cabin_Catg,Cabin_Side,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,B,P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,F,S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,A,S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,A,S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,F,S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True